html,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #1A1A1D;
}

.joinInnerContainer {
    width: 20%;
}

.joinInput,
.joinInput2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    padding: 15px 70px;
    width: 300px;
    height: 35px;
}

.joinInput2 {
    top: 40%;
}

.heading {
    position: absolute;
    color: white;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.button {
    position: absolute;
    color: #fff !important;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(to left, rgb(250, 45, 55), rgb(100, 100, 100));
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 300px;
    height: 35px;
}

.mt-20 {
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        height: 100%;
    }

    .joinInnerContainer {
        width: 90%;
    }


}

button:focus {
    outline: 0;
}